name: Check Version in GHCR

on:
    pull_request:
        # Run jobs for any external PR that wants
        # to merge to master, too:
        branches:
            - master
            - main

jobs:
    Check-if-version-in-GHCR-is-built:
        runs-on: ubuntu-latest
        steps:
        - uses: actions/checkout@v4
        - run: head -1 Dockerfile | sed 's/FROM \(.*\)/docker run \1 try-runtime -V/'|bash